

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


html{
  top: 0;
}
body {
  min-height: 100vh;
  background-color: #525252;
}
/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
